body {
    background-color: #f5f7fa;
    font-family: Arial;
}


.header-section {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}


h1 {
    color: #0d6efd;
    font-weight: bold;
}


h3 {
    color: #0d6efd;
    margin-bottom: 15px;
}


.card {

    border-radius: 12px;

    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);

}


ul {

    padding-left: 20px;

}


footer {

    color: gray;

}